*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.links{
    padding: 10px;
    background-color: dodgerblue;
    display: flex;
    justify-content: space-around;
}
.link{
    color: white;
    font-size: 30px;
    text-decoration: none;
}
h2{
    margin-left: 50px;
    margin-top: 50px;
}
.details{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    height: 60px;
    width: 250px;
    border-radius: 40px;
    font-size: larger;
}
table{
    width: 1100px;
    height: 500px;
    margin-top: 70px;
    margin-left: 120px;
    background-color: white;
    border-radius: 5px;
    border-collapse: collapse;
}
thead{
    text-align: left;
    font-size: 20px;
}
th,tr{
    border-bottom: 1px solid gray;
}
th,td{
    padding: 20px;
}
tr:last-child{
    border-bottom: none;
}